@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

.avatar {
    height: 30px;
}

.carousel-static {
    position: absolute;
    top: 50px;
    margin: 10%;
    color: #FFF;
    width: 80%;
}

.section-row {
    margin: 30px 0;
}

@media screen and (max-width: 600px) {
    .carousel-static {
        visibility: hidden;
    }

    .carousel-caption {
        visibility: hidden;
    }
}

/* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
#timer {
    height: 400px;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#timer #infowindow-content {
    display: inline;
}

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.icon-ul {
    list-style-type: none !important;
    margin: 0px;
    padding: 0px;
}

.icon-ul li {
    line-height: 75px;
    width: 100%;
    float: left;
}

.icon {
    float: left;
    margin-right: 5px;
}

.copyright {
    min-height: 40px;
    background-color: #000000;
}

.copyright p {
    text-align: left;
    color: #FFF;
    padding: 10px 0;
    margin-bottom: 0px;
}

.heading7 {
    font-size: 21px;
    font-weight: 700;
    color: #d9d6d6;
    margin-bottom: 22px;
}

.post p {
    font-size: 12px;
    color: #FFF;
    line-height: 20px;
}

.post p span {
    display: block;
    color: #8f8f8f;
}

.bottom_ul {
    list-style-type: none;
    float: right;
    margin-bottom: 0px;
}

.bottom_ul li {
    float: left;
    line-height: 40px;
}

.bottom_ul li:after {
    content: "/";
    color: #FFF;
    margin-right: 8px;
    margin-left: 8px;
}

.bottom_ul li a {
    color: #FFF;
    font-size: 12px;
}

.flashcard {
    margin-bottom: 0px !important;
    font-size: 50px !important;
    display: block !important;
    height: 200px !important;
    text-align: center !important;
    padding-top: 50px !important;
}

.showtime-card {
    font-size: 30px;
}